nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

nav .navbar-header {
    background: var(--dark-secondary);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

nav .navbar-options {
    height: 100%;
    background: var(--dark-secondary);
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    transition: 1s;
}

@media (max-width: 767px) {
    nav .navbar-options {
        width: 100%;
        position: fixed;
        top: 50px;
    }
    .navbar-options.no-show-mobile {
        height: 10%;
        display: none!important;
    }
    .navbar-options.show-mobile {
        display: flex;
        height: 100%!important;
        flex-wrap: wrap;
        flex-direction: row!important;
    }
    nav a {
        width: 33.333333%;
    }
}

@media (max-width: 575px) {
    nav a {
        width: 50%;
    }
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav a:hover .text-nav {
    opacity: 1;
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
}

a .text-nav {
    font-family: 'Inconsolata-Bold';
    font-size: 14px;
    text-transform: uppercase;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition-duration: 0.4s;
    color: #4ABDAC;
}

a fa-icon {
    font-size: 40px;
}

/* menu icon */

.navbar-header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navbar-header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navbar-header .menu-icon .navicon:before, .navbar-header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar-header .menu-icon .navicon:before {
    top: 5px;
}

.navbar-header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar-header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.navbar-header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar-header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar-header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .navbar-header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}