<header>
    <nav>
        <div class="navbar-header d-block d-md-none">
            <input class="menu-btn d-none" type="checkbox" id="menu-btn" (change)="showMenuMobile($event)" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        </div>
        <div class="navbar-options" [ngClass]="{'show-mobile':showMobile,'no-show-mobile':!showMobile}">
            <a [routerLink]="item.route" class="position-relative" *ngFor="let item of menuItems"
                [ngClass]="{'show-item':showItem,'no-show-item':!showItem}">
                <fa-icon [icon]="item.icon"></fa-icon>
                <div class="position-absolute text-nav text-center w-100">
                    {{item.title | translate}}
                </div>
            </a>
        </div>
    </nav>
</header>