.card {
    /* max-width: 768px;
    margin: auto; */
}

.div-right {
    width: 20%;
    height: 100%;
    background-color: var(--color-secondary);
    right: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    transition: 1s;
    filter: saturate(0.2);
}

.div-right.lights-on {
    filter: saturate(0.7);
}

.div-rrss {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.card-body {
    padding-right: 0;
}

.div-info {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--dark-primary);
    transition: 1s;
    filter: saturate(0.2);
    margin-top: -75px;
    /* left: 30px;
    position: absolute; */
}

.div-info.lights-on {
    filter: saturate(0.7);
}

.div-info .div-inner-info {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 10px;
    color: var(--dark-primary);
}

.div-inner-info .ng-fa-icon {
    position: relative;
    top: 4px;
}

.div-inner-info .bulb-on {
    color: #fff;
    right: 30px;
}

.div-inner-info .bulb-off {
    color: #3e3e3e;
    left: -10px;
}

/* .div-inner-info:hover .bulb-off {
    color: #fff;
} */

.form-control {
    background: rgb(136, 104, 107);
    background: linear-gradient(90deg, rgba(136, 104, 107, 1) 14%, rgba(145, 168, 165, 1) 100%);
    filter: saturate(0.2);
    color: var(--dark-primary);
}

.form-control:focus {
    background-color: var(--color-primary);
    filter: saturate(0.2);
    outline: 0;
    box-shadow: none;
}

::placeholder {
    color: #efefef;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 25px;
    width: 50px;
    border-radius: 3rem;
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: 15px;
    height: 15px;
    transition: 0.7s;
    border-radius: 50%;
    top: 8px;
}

.custom-switch.custom-switch-md .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(28px);
}