.div-right {
    width: 20%;
    height: 100%;
    background-color: var(--color-secondary);
    right: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    transition: 1s;
    filter: saturate(0.2);
}

.div-right.lights-on {
    filter: saturate(0.7);
}

.div-rrss {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.card-body {
    padding-right: 0;
}

.div-info {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--dark-primary);
    transition: 1s;
    filter: saturate(0.2);
    margin-top: -75px;
}

.div-info.lights-on {
    filter: saturate(0.7);
}

.div-info .div-inner-info {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ec4c5c;
    bottom: 0px;
    left: 0px;
    color: var(--dark-primary);
    cursor: pointer;
}

.div-inner-info .ng-fa-icon {
    transform: translateX(-50%);
    left: 50%;
    transition: 1s;
    position: absolute;
}

.div-inner-info .bulb-on {
    color: #fff;
}

.div-inner-info .bulb-off {
    color: #3e3e3e
}

.div-inner-info:hover .bulb-off {
    color: #fff;
}

.form-control {
    background: rgb(136, 104, 107);
    background: linear-gradient(90deg, rgba(136, 104, 107, 1) 14%, rgba(145, 168, 165, 1) 100%);
    filter: saturate(0.2);
    color: var(--dark-primary);
}

.form-control:focus {
    background-color: var(--color-primary);
    filter: saturate(0.2);
    outline: 0;
    box-shadow: none;
}

::placeholder {
    color: #efefef;
}