.rounded-circle {
    width: 13px;
    height: 13px;
    border: 2px solid var(--color-primary);
    transition: 0.3s;
}

.rounded-circle:hover {
    transform: scale(1.5);
    border-color: var(--color-secondary);
    background-color: #fff!important;
}