.box-info {
    position: relative;
}

.box-info .face {
    height: 200px;
    width: 100%;
    transition: 0.5s;
}

.box-info .face.face1 {
    position: relative;
    background: var(--dark-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.box-info:hover .face.face1 {
    background: var(--color-secondary);
    /* background: var(--color-primary); */
    transform: translateY(0px);
}

.box-info .face.face1 img {
    max-height: 80px;
    width: auto;
}

.box-info .face.face2 {
    position: relative;
    background: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.box-info:hover .face.face2 {
    transform: translateY(0);
}

.box-info .face.face2 .content-box p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--dark-primary);
}