/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "Inconsolata-Regular";
    src: url("./assets/fonts/Inconsolata-Regular.eot");
    /* IE9 Compat Modes */
    src: url("./assets/fonts/Inconsolata-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Inconsolata-Regular.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Inconsolata-Regular.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Inconsolata-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Inconsolata-Regular.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Inconsolata-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata-Bold";
    src: url("./assets/fonts/Inconsolata-Bold.eot");
    /* IE9 Compat Modes */
    src: url("./assets/fonts/Inconsolata-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Inconsolata-Bold.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Inconsolata-Bold.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Inconsolata-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Inconsolata-Bold.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Inconsolata-Bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./assets/fonts/Roboto-Regular.eot");
    /* IE9 Compat Modes */
    src: url("./assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Roboto-Regular.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./assets/fonts/Roboto-Bold.eot");
    /* IE9 Compat Modes */
    src: url("./assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Roboto-Bold.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Roboto-Bold.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Roboto-Bold.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Black";
    src: url("./assets/fonts/Roboto-Black.eot");
    /* IE9 Compat Modes */
    src: url("./assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Roboto-Black.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Roboto-Black.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Roboto-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Roboto-Black.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Roboto-Black.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}