/* You can add global styles to this file, and also import other style files */

@import "fonts.css";
:root {
    --dark-primary: #100e17;
    --dark-secondary: #202026;
    --color-primary: #4ABDAC;
    --color-secondary: #ec4c5c;
    /* --color-secondary: #F58053; Naranja*/
    /* --color-secondary: #E37222; Naranja */
    /* --color-secondary: #07889B; Teal */
    /* --color-primary: #3E979B;Turquesa */
}

html {
    height: 100%;
}

body {
    /* height: 100%;
    overflow: auto; */
    background-color: var(--dark-primary);
    /* background-image: url(./assets/images/background.png);
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat; */
    font-family: 'Raleway-Regular';
    color: #fff;
}

.container {
    margin-top: 70px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .content {
        margin-left: 80px;
    }
}

/* Texts */

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--color-primary)!important;
}

.bg-secondary {
    background-color: var(--color-secondary)!important;
}

.bg-dark-secondary {
    background-color: var(--dark-secondary)!important;
}

p {
    font-family: 'Roboto-Regular';
}

h1, h3, h5 {
    font-family: 'Raleway-Bold';
}

h2, h4, h6 {
    font-family: 'Raleway-Regular';
}

@media (max-width: 575px) {
    h1, h2 {
        font-size: 24px;
    }
    h3, h4 {
        font-size: 20px;
    }
    h5, h6 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    h1, h2 {
        font-size: calc(1.3em + 1.3vw);
    }
    h3, h4 {
        font-size: calc(1.0em + 1.0vw);
    }
    h5, h6 {
        font-size: calc(0.6em + 0.8vw);
    }
    p {
        font-size: calc(0.6em + 0.6vw);
    }
}

/* Buttons */

.btn-color-primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-color-secondary {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-color-secondary:hover {
    background-color: var(--color-secondary);
    opacity: 0.8;
}

.btn-outline-color-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-outline-color-secondary {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: 0.5s;
}

.btn-outline-color-primary:hover {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}