/* You can add global styles to this file, and also import other style files */

@import "fonts.css";
:root {
    --dark-primary: #100e17;
    --dark-secondary: #202026;
    --color-primary: #4ABDAC;
    --color-secondary: #ec4c5c;
    /* --color-secondary: #F58053; Naranja*/
    /* --color-secondary: #E37222; Naranja */
    /* --color-secondary: #07889B; Teal */
    /* --color-primary: #3E979B;Turquesa */
}

html {
    height: 100%;
}

body {
    /* height: 100%;
    overflow: auto; */
    background-color: var(--dark-primary);
    /* background-image: url(./assets/images/background.png);
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat; */
    font-family: 'Raleway-Regular';
    color: #fff;
}

.container {
    margin-top: 70px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .content {
        margin-left: 80px;
    }
}

/* Texts */

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--color-primary)!important;
}

.bg-secondary {
    background-color: var(--color-secondary)!important;
}

.bg-dark-secondary {
    background-color: var(--dark-secondary)!important;
}

p {
    font-family: 'Roboto-Regular';
}

h1, h3, h5 {
    font-family: 'Raleway-Bold';
}

h2, h4, h6 {
    font-family: 'Raleway-Regular';
}

@media (max-width: 575px) {
    h1, h2 {
        font-size: 24px;
    }
    h3, h4 {
        font-size: 20px;
    }
    h5, h6 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    h1, h2 {
        font-size: calc(1.3em + 1.3vw);
    }
    h3, h4 {
        font-size: calc(1.0em + 1.0vw);
    }
    h5, h6 {
        font-size: calc(0.6em + 0.8vw);
    }
    p {
        font-size: calc(0.6em + 0.6vw);
    }
}

/* Buttons */

a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    padding: 8px 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.btn-main {
    border: 2px solid var(--color-secondary);
}

a.animated-button.btn-main:after {
    background: var(--color-secondary);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}